<%- include('./partials/header') %>
<h1><%= `${title}: ${bookinstance._id}` %></h1>

<p>
  <strong>Title:</strong>
  <a href="<%= bookinstance.book.url %>"><%= bookinstance.book.title %></a>
</p>
<p><strong>Imprint:</strong> <%= bookinstance.imprint %></p>
<p>
  <strong>Status:</strong>
  <% if (bookinstance.status === 'Available') { %>
  <span class="text-success"><%= bookinstance.status %></span>
  <% } else if (bookinstance.status === 'Maintenance') { %>
  <span class="text-danger"><%= bookinstance.status %></span>
  <% } else { %>
  <span class="text-warning"><%= bookinstance.status %></span>
  <% } %>
</p>

<% if (bookinstance.status !== 'Available') { %>
<p><strong>Due back:</strong> <%= bookinstance.due_back_formatted %></p>
<% } %>

<hr />
<p>Do you really want to delete this Book Instance?</p>

<form action="" method="POST">
  <div class="form-group">
    <input
      type="hidden"
      id="bookinstanceid"
      class="form-control"
      name="bookinstanceid"
      value="<%= bookinstance._id %>"
    />
  </div>
  <button type="submit" class="btn btn-primary">Delete</button>
</form>
<%- include('./partials/footer') %>
